*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
  
}





.logo{
    font-size: larger;
}

    


.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    color:white;
    background-color: orange;
  

}
.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}
.home  {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    margin-right: 5px;



}


.Login {
 
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    margin-right: 15px;
    justify-content: space-between;
    text-align: center;



}

.Signup{
  
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    margin-right: 20px;

}

.mob-menu-icon{
    display: none;

}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    /* Hide the navigation links by default */
    .navbar {
      display: flex;
      flex-direction: column;
      background-color:orange;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background-size: cover;
    }
  
    /* Style for each individual link */
    .navbar a {
      padding: 15px;
      text-decoration: none;
      color: white;
    }
  
    /* Show the navigation links when the menu icon is clicked */
    .navbar .navbar-toggle {
      display: block;
      padding: 15px;
      color: white;
      cursor: pointer;
    }
  
    /* Hide the navigation links initially */
    .navbar .navbar-links {
      display: none;
    }
  
    /* Show the navigation links when the menu icon is clicked */
    .navbar .navbar-toggle:checked + .navbar-links {
      display: block;
    }
  }
  